

.recommend-friends {
    padding: 25px 0px; 
    border-top: var(--main-border);
    border-bottom:  var(--main-border);

}

.recommend-friends_title {
     font-size: 14px; 
     color: grey;
}


.recommend-friends span {
    margin: 110px 0; 
    display: block;
    text-align: center;  
    color: grey;  
    font-size: 20px;
}


.open-chat_header {
     display: flex; 
     justify-content: space-between;
     opacity: 0.5; 

     
}

.open-chat_header span {
     opacity: 0.6;
         
}      


.open-post {
    display: flex;  
    justify-content: space-between;    
    align-items: center;


}





.open-post_title {
    font-weight: 580; 
    margin-bottom: 10px;  
}

.open-post_hashtags {
     text-transform: uppercase; 
     opacity: 0.6;
}

.open_post_members {
     display: flex; 
     align-items: center;

}

.open_post_members img {
   width: 14px;  
   height: 14px;
   border-radius: 50%; 
   margin-right: 3px;
    
}


.open-post_member-count {
     opacity: 0.5;
     font-size: 14px;
}

.open_post_members .divider {
     width: 1px; 
     height: 15px;
     margin: 0 5px; 
     background-color: grey;  

    }

    .open-post_member-status {
        color:dodgerblue;
    }


    .open-post_photo img {
         width: 100px; 
         height: 100px; 
         border-radius: 10px; 
         margin-top: 21px;
    
        }

    .open-post_photo {
        position: relative; 
    }


    .open-post_heart-count {
        background-color: grey; 
        color: white;
        padding: 5px;   
        border-radius: 20px;
        display: flex; 
        align-items: center;     
        position: absolute; 
        bottom: 8px; 
        right: 28px;
        font-size: 13px;
    }


    .open-post_heart-count span {
        margin-left: 3px;
    }