#friends-display-link{
      text-align: center; 
      display: block; 
      background-color: blanchedalmond;
      padding: 10px 0px;  
      font-size: 16px; 
      margin-bottom: 10px; 
      margin-top: -10px;
}


#friends-display-link i {
     color:gray;
}


.friend_screen {
      padding: 0px var(--horizontal-space);
}


.friend_screen_channel {
      margin-top: 25px; 
      border-top: var(--main-border);
       padding-top: 15px; 
    }
    
    .friend_screen_channel-header {
         margin-bottom: 20px;  
         display: flex; 
         justify-content: space-between; 
         color: rgba(0,0,0,0.5);
      
     }